[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = none

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = all:none

# CA1062: BS
dotnet_diagnostic.CA1062.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA1801: Unused parameter
dotnet_diagnostic.CA1801.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# CA2234: Pass system uri objects instead of strings
dotnet_diagnostic.CA2234.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none
